# Strings

In [4]:
# strings
from typing import Concatenate


a='hi how r you?'
b='i am learning basics of python'
b

'i am learning basics of python'

# Variables

In [7]:
# variables: object containing specific value
x=2+3
# x is variable and it stores two values.
print(x)
x=x+7
print(x)

5
12

# Input function

In [17]:
# input variables
fruit=input('what is  your name?')
age=int(input('how old are you?'))
gr='hello'
print(gr,fruit,"oh, great")
# f=int(input('how much fruit do you want?'))
# ft='ok sure!'
# print(ft,f)
# r=float(input('tell me the range of fruits'))
# r

hello roshni oh, great

# Operators

In [36]:
# Arthimetic operators
# + add
#  - minus
# * multiplication
# / devision
# % modulus(reminder)
# ** exponential
# // floor division(full number before decimal point)
2+3
4-4
20903904*463762747
321324/78778
2**5
321324%78778
321324//78778

4

In [28]:
# Comparsion operators
# equal to ==
# greater than >
# less than <
# not equal !=
# greater or equal to >=
# less or eequal to <=

print(0==0)
print(4>3)
print(5>7)
print(1!=3)
print(3<=2)
print(3>=2)

True
True
False
True
False
True

In [40]:
# Assignment operators
# +=
# -=
# *=
# /=
x=2
# x=x+3
# x
# or 
x+=3
x          # both are same

5

In [47]:
# logical operators
# and 
# or
# not
x=10
print(x==10 and x<9)
print(x==10 or x<9)
not(x==10 or x<9)

False
True

False

In [49]:
# indentity operators
# is ------> same element
# is not
x=[1,2,3,4]
y=[2,3,5]
print(x is y)
print(x is not y)

False
True

In [53]:
# membership operators
# in 
# not in
x=[1,2,3,4]
y=[2,3,5]
2 in x
4 in y
4 not in y

True

# data type

In [3]:
# text = string
from tracemalloc import DomainFilter
from xml.dom import DomstringSizeErr


x='how'
print(x)
y="are"
print(y)
z='you?'
print(z)
# multiline string
a='''hi, how are you?
I am great, how are you Doing 
alhamdulilah, i am good too'''
print(a)

how
are
you?
hi, how are you?
I am great, how are you Doing
alhamdulilah, i am good too

In [4]:
# Numeric data type
# int, float, complex
a=2
print(type(a))
b=4.3232
print(type(b))
c=3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
# sequence data type
# list, tuple, dictionary
a=[2,5,6,7]                  
print(a)
t=(2,4,6,7)
print(t)
d={'name':'roshni','age':26}
print(d)

[2, 5, 6, 7]
(2, 4, 6, 7)
{'name': 'roshni', 'age': 26}

In [39]:
# list method
# a.append(0)
# print(a)
# a.insert(1,9)
# print(a)
# a.pop(1)                             #delete index number
# print(a)
# a.copy()
# print(a)
# a.remove(2)                         
# print(a)
# a.clear()
# print(a)
a.index(5)
b=[8,0,67,8]
b.extend(a)                        #merge two list
print(b)
a[1]='hi'
print(a)

[8, 0, 67, 8, 2, 5, 6, 7]
[2, 'hi', 6, 7]

In [16]:
# tupple method
t.count(2)
t.index(4)


# dictionary method
print(len(d))
print(d.get('name'))                     #get the value of key
print(d.items())
# i=d.update({'nu':234})
d.keys()
# d.pop('')
d
# loop
for x in d.keys():
    print(x)

2
None
dict_items([('age', 26), ('nu', 234)])
age
nu

In [6]:
# boolean type     (true or false)
10>3
10<3
10==10
10!=10
10>=9
10<=9

False

In [11]:
# set data type
# set, frozenset
set={2,3,4543}
f=frozenset(set)                 #immutable 
f

frozenset({2, 3, 4543})

In [27]:
# set methods
set.add(8)
for x in set:
    print(x)

# set.remove(3)

s1={3,4,7,65}
s2={2,0,4,1,5}
u=s1.union(s2)
d=s1.difference(s2)
i=s1.intersection(s2)
i

8
4543

{4}

# type conversion (Casting)

In [32]:
a=int(1.2)
print(a)
b=float(2)
print(b)
c=str('2')
c

1
2.0

'2'

# Conditions if  elif  else

In [2]:
required_Age=5
ali_age=4
# question: will ali go to school according to requirement of age?
if ali_age == required_Age:
    print('ali will go to school')
else:
    print('ali will not go to school')

ali will not go to school

In [6]:
user=input('write your favourite subject')
if user == 'math':
    print('you should apply for engineer')
elif user == 'bio':
    print('you should apply for medical')
elif user =='english':
    print('you should give IELTS')
elif user=='drawing':
    print('you should do graphics designing')
else:
    print('ok no worries, 1st choose your choice before applying')

ok no worries, 1st choose your choice before applying

# loops

In [5]:
list=[23,435,89,9,3,4]
for i in list:
    print(i)

23
435
89
9
3
4

In [9]:
for i in list:
    if i == 435:
        print('you are on the right point')
    else:
        print('sorry')

sorry
you are on the right point
sorry

In [14]:
for i in range(10):
    if i == 4:
        break
    print(i)

0
1
2
3

In [15]:
for i in range(10):
    if i == 6:
        continue
    print(i)

0
1
2
3
4
5
7
8
9

In [16]:
for i in range(10):
    if i ==4:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [11]:
# task 1: Sum from 1 to 10 by using range function
sum=1
for sum in range(10):
    print(sum)
    sum=sum+1

0
1
2
3
4
5
6
7
8
9

In [3]:
# atm machine
balance = 5000
user=int(input('what do you want? type 1 for balance checking, type 2 for debit , type 3 for credit'))
if user==1:
    print('your balance is',balance)
elif user == 2:
    print('credit your balance')
elif user==3:
    print('debit your balance ')

credit your balance

In [6]:
a=1
while a<=10:
    print(a)
    a+=1
else:
    print('condition is satisfied')

1
2
3
4
5
6
7
8
9
10
condition is satisfied

In [7]:
i=2
while i<=12:
    if i == 6:
        break
    print(i)
    i+=1

2
3
4
5

# Function

In [6]:
def data(a,b):
    print(a+b)
data(56,89)

145

In [8]:
# fixed arguments
def schl(std,tch):
    print('hello',std)
    print('salam',tch)
schl('ali','roshni')

hello ali
salam roshni

In [10]:
# default argument
def fun(a,b=10):
    print(a,b)
fun(7)

7 10

In [11]:
# Args: arbitary argument or non-keyword
def key(*value):
    print(value)
key(1,3,5,6,6)

(1, 3, 5, 6, 6)

In [12]:
# kwargs: keyword argument
def key(**values):
    print(values)
key(name='roshni',age=34)

{'name': 'roshni', 'age': 34}

In [1]:
a=10                                            #global variable
def fun():
    a=12                                       #local variable
    print(a) 
fun()



print(a)

12
10

In [9]:
# factorial through loop
n = 10
f = 1
  
for i in range(1,n+1):
    f = f * i
      
print ("The factorial of 10 is : ",f)

The factorial of 10 is :  3628800

In [12]:
# through function
def fact(f):
    n=10
    for i in range(1,n+1):
        f=f*i
        print(f)
fact(1)

1
2
6
24
120
720
5040
40320
362880
3628800

In [6]:
# factorial through math 
import math
math.factorial(10)

3628800

# Module

In [20]:
# math 
import math
math.cos(90)
math.tan(10)
math.sin(90)

0.8939966636005579

In [31]:
# string
import string as st
print(st.ascii_letters)
print(st.digits)
print(st.ascii_uppercase)
print(st.ascii_lowercase)
print(st.hexdigits)
print(st.punctuation)
print(st.whitespace)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
0123456789
ABCDEFGHIJKLMNOPQRSTUVWXYZ
abcdefghijklmnopqrstuvwxyz
0123456789abcdefABCDEF
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~


<function capwords at 0x000001752EC731C0>

In [43]:
# time 
from time import ctime,time, gmtime, strftime
t=time()
print(ctime(t))
print(gmtime(t))

Sat Oct 29 14:28:25 2022
time.struct_time(tm_year=2022, tm_mon=10, tm_mday=29, tm_hour=21, tm_min=28, tm_sec=25, tm_wday=5, tm_yday=302, tm_isdst=0)